<ion-content padding class="backgroud-agruculture">
  <!-- <div class="content-home"> -->
    <div class ="blink-1">
  <div class = "ion-text-center">
  <span style="font-size: 33px;" >Forest</span>
  </div>
  <ion-row>
      <ion-col>     
          <span style="font-size: 18px;">ป่าดงดิบหรือไม่ผลัดใบ</span><br>
          <span style="font-size: 18px;">(Evergeen forest)</span>
          <img class = "menu" (click) = "GotoForestPage()" src="./assets/icon/hills.svg">   
      </ion-col>
      <ion-col>
          <span style="font-size: 18px;">ป่าผลัดใบ </span><br>
          <span style="font-size: 18px;">(Deciduous Forest)</span>
          <img class = "menu" (click) = "GotoDeciduousPage()" src="./assets/icon/fields.svg"> 
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>     
            <span style="font-size: 18px;">ปัญหาที่เกิดขึ้น</span><br>
            <span style="font-size: 18px;">(Problem)</span>
            <img class ="menu" (click) = "GotoProblemPage()" src="./assets/icon/problem.svg">   
          
        </ion-col>
        <ion-col>
            <span style="font-size: 18px;">การอนุรักษ์ </span><br>
            <span style="font-size: 18px;">(Conserve)</span>
            <img class ="menu" (click) = "GotoConserve()" src="./assets/icon/ecology.svg">        
        </ion-col>
      </ion-row>

    <img width="200px" height="200px" src="./assets/icon/59362826-motion.svg">   
  </div>
  <!-- </div> -->
</ion-content>
