page-agriculture {
    .backgroud-agruculture{
        background: #00d27f;
        color : #ffffff;
        font-family: 'Kanit', sans-serif;
        text-align: center;
    }
    .content-home{
        width:100%;
        height:100%;
        border-radius: 2px;
        box-shadow: 0 2px 30px rgba(0,0,0,0.397);
        background:lighten(rgba(0, 0, 0, 0.396),10%);
        position: relative;
        overflow:hidden;
    }
    .menu{
        padding-left:10%;
        padding-right: 10%;
        padding-top: 10%;
    }
    .blink-1 {
        -webkit-animation: blink-1 0.6s ease-in both;
                animation: blink-1 0.6s ease-in both;
    }

    @-webkit-keyframes blink-1 {
        0%,
        50%,
        100% {
          opacity: 1;
        }
        25%,
        75% {
          opacity: 0;
        }
      }
      @keyframes blink-1 {
        0%,
        50%,
        100% {
          opacity: 1;
        }
        25%,
        75% {
          opacity: 0;
        }
      }
}
