<!-- <ion-header>
  <ion-navbar >
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding class="backgroud-about">
  <br>
  <h1>Mode Settings</h1>
  <span style="color :#998ead;font-size: 15px">Modes</span>
  <span style="text-align:right;font-size: 15px;color :#998ead;padding-left:70%;">Aromas</span>
  <ion-grid style="padding-top:5%;text-align:center;">
    <ion-row>
      <ion-col>
        <div class="circle-red">
          <img class="padding-icon-incircle" src="./assets/icon/sun.svg">
          <span style="color :#ff3e62">Heat</span>
        </div>    
      </ion-col>
      <ion-col class="stay-left">
        <img class="padding-icon" src="./assets/icon/snowflake.svg">
        <span>Cool</span>
      </ion-col>
      <ion-col class="stay-right">
        <img class="padding-icon" style="--colorInner:#ff3e6175; --colorOutter:#ff3e6100;" src="./assets/icon/drop-red.svg">
        <span>Cherry</span>
      </ion-col>
      <ion-col>
        <div class="circle-blue">
          <img class="padding-icon-incircle" src="./assets/icon/drop-blue.svg">
          <span>Ice</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="text-align:center">
    <ion-row>
      <ion-col>
        <img class="padding-icon" src="./assets/icon/Wave.svg">
        <span>Wet</span>
      </ion-col>
      <ion-col class="stay-left">
        <img class="padding-icon" src="./assets/icon/dry.svg">
        <span>Dry</span>
      </ion-col>
      <ion-col class="stay-right">
        <img class="padding-icon" style="--colorInner:#b381ff75; --colorOutter:#b381ff00;" src="./assets/icon/drop-purple.svg">
        <span>Grape</span>
      </ion-col>
      <ion-col>
        <img class="padding-icon" style="--colorInner:#00EFD175; --colorOutter:#00EFD100;" src="./assets/icon/drop-lime.svg">
        <span>Lime</span>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h5 style="color :#998ead">Temperature</h5>
  <div text-center>
    <br><br>
    <span class="num-temp"> 19</span>
    <span style="font-size:20px;">temp</span>
  </div>
</ion-content>