page-about {
    .backgroud-about{
        background: #1a0a3a;
        color : #ffffff;
    }
    .circle-red{
        margin:auto;
        width:50px;
        height:50px;
        border-radius: 50%;
        background:#ff3e62;
    }
    .circle-blue{
        margin:auto;
        width:50px;
        height:50px;
        border-radius: 50%;
        background:#00ccff;
    }
    .padding-icon-incircle{
        padding-left:27%;
        padding-right: 27%;
        padding-top: 27%;
        padding-bottom: 37%;
    }
    .padding-icon{
        margin:auto;
        padding-left:27%;
        padding-right: 27%;
        padding-top: 27%;
        padding-bottom: 20%;
        background:radial-gradient(circle closest-side,  var(--colorInner) 0%,  var(--colorOutter)80%);
    }
    .num-temp{
        font-size: 100px;
    }
    .stay-left{
        padding-right: 35px;
    }
    .stay-right{
        padding-left: 35px
    }
}
