page-conserve {
    .backgroud-agruculture{
        background: #00d27f;
        color : #ffffff;
        font-family: 'Kanit', sans-serif;
        text-align: center;
    }
    .toolbar-background {
        background-color:#00b26b;
    }
}
