<ion-header>
  <ion-navbar toolbar-background>
    <ion-title>Conserve</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class = "backgroud-agruculture">
  <span style="font-size: 22px;">การบำรุงรักษาป่า ควรปฏิบัติ ดังนี้</span><br>
  <ion-slides pager="true" effect="cube">
      <ion-slide *ngFor="let slide of slider">
        <img [src]="slide.image" width="900px" height="600px">
        <p style="font-size:22px; padding-top: 2px;" text-center [innerHTML]="slide.title"></p>
        <p style="font-size:20px; padding-top: 2px;" [innerHTML]="slide.description"></p>
      </ion-slide>
    </ion-slides> 
</ion-content>
