page-contact {
    .backgroud-Contact{
        background: #ffcf40;
        font-family: 'Kanit', sans-serif;
        text-align: center;
    }
    .toolbar-background {
        background-color:#ffcf40;
    }
}
