<ion-header>
    <ion-navbar toolbar-background>
      <ion-title>API GOOGLE</ion-title>
    </ion-navbar>
  </ion-header>
<ion-content padding>
  <div class = "backgroud-Contact">
      <ion-slides pager="true">
  <ion-slide *ngFor="let item of items | async">
    <img [src]="'data:image/png;base64,' + item.imageData" />
      <ion-list >
        <ion-list-header>Alfabet</ion-list-header>
        <ion-item *ngFor="let label of item.results[0].textAnnotations">{{label.description}}</ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>
  </div>
  <ion-fab bottom right>
      <button ion-fab (click)="takePhoto()">
        <img src="./assets/icon/camera.svg" width="30px" height="30px">
      </button>
    </ion-fab>
</ion-content>


  <!-- <ion-slide class="slide" *ngFor="let item of items | async"> 
    <img class="imgapi" [src]="'data:image/png;base64,' + item.imageData"/>

    <ion-list no-lines class="menu-home-close">
    <ion-list-header style="font-size:16px">Labels</ion-list-header>
      <label *ngFor="let label of item.results[0].textAnnotations">{{label.description}}</label>
    </ion-list>
  </ion-slide>
</ion-slides> -->