page-forest {
    .backgroud-forest{
        background: #79c0D7;
        color : #ffffff;
        font-family: 'Kanit', sans-serif;
    }
    .menu{
        padding-left:10%;
        padding-right: 10%;
        padding-top: 10%;
    }
    .toolbar-background {
        background-color:#4f96ad;
    }
}
