page-home {
    //create class --> .(class_name)
    .backgroud-home{
        background: #1a0a3a;
        color : #ffffff;
    }//http://animista.net
    .content-home{
        width:100%;
        height:100%;
        border-radius: 5px;
        box-shadow: 0 2px 30px rgba(0,0,0,0.397);
        background:lighten(rgba(0,0,0,0.396),10%);
        position: relative;
        overflow:hidden;
    }
    .wave{
        position: absolute;
        background: #6285c6;
        width:900px;
        height:900px;
        border-radius: 43%;
        transform-origin: 50% 48%;
        animation: drift 8000ms infinite linear;
        opacity: 0.3; //bang rong full is 1
        bottom:-140%;
        left:-70%;
    }
    .wave.wave1{
        background: radial-gradient(circle at 100%,#6285c6,#6285c6 50%,rgba(0,0,0,0)100%);
        animation: drift 6000ms infinite linear;
        box-shadow: 0 50px 50px rgba(98,133,198,0.439);
    }
    .wave.wave2{
        animation: drift 4000ms infinite linear;
        background: radial-gradient(circle at 100%,#6285c6,#6285c6 50%,rgba(0,0,0,0)100%);
        box-shadow: 0 50px 50px rgba(98,133,198,0.439);
    }
    .wave.wave3{
        animation: drift 2000ms infinite linear;
        background: radial-gradient(circle at 100%,#6285c6,#6285c6 50%,rgba(0,0,0,0)100%);
        box-shadow: 0 50px 50px rgba(98,133,198,0.439);
    }
    @keyframes drift{
        from {transform: rotate(0deg)};
        from {transform: rotate(-360deg)};
    }
    .menu-home-active{
        background:#ff3e62;
        height:170px;
        border-radius: 6px;
    }
    .menu-home-close{
        height:170px;
        border-radius: 6px;
        border-style:solid;
        border-width:2px;
        border-color:#ffffff;
    }
    .menu-top{
        padding-left:28%;
        padding-right: 28%;
        padding-top: 10%;
    }
    .num-temp{
        font-size: 100px;
    }
}