
<ion-content padding class="backgroud-home">
  <div class="content-home">
    <br>
    <h1>Select Climate</h1>
    <h1>Settings</h1>
    <p></p>
    <h5 style="color :#998ead">Favorite presets</h5>

    <!-- slider -->
    <ion-slides slidesPerView="2.5" spaceBetween="10px" style="height:30%">
      <ion-slide>
        <div Class="menu-home-active">
          <img class="menu-top" src="./assets/icon/sun.svg">
          <span>heat</span><br>
          <span style="font-size: 33px;">10°-19°</span>
        </div>
      </ion-slide>
      <ion-slide>
        <div Class="menu-home-close">
          <img class="menu-top" src="./assets/icon/snowflake.svg">
          <span>Cool</span><br>
          <span style="font-size: 33px;">3°-7°</span>
        </div>
      </ion-slide>
      <ion-slide>
        <div Class="menu-home-close">
          <img class="menu-top" src="./assets/icon/wave.svg">
          <span>Wet</span><br>
          <span style="font-size: 33px;">7°-15°</span>
        </div>
      </ion-slide>
    </ion-slides>

    <div text-center>
      <br><br>
      <span class="num-temp"> 19</span>
      <span style="font-size:20px;">temp</span>
    </div>

    <!-- Wave -->
    <div class="wave wave1"></div>
    <div class="wave wave2"></div>
    <div class="wave wave3"></div>
  </div>
</ion-content>