page-problem {
    .backgroud-problem{
        background: #d9534f;
        color : #1e1b1b;
        font-family: 'Kanit', sans-serif;
    }
    .toolbar-background {
        background-color:#ce605c;
    }
}
