<ion-header>
  <ion-navbar>
    <ion-title>Problem</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class ="backgroud-problem">
    <span style="font-size: 22px;">ปัญหาทรัพยากรป่าไม้</span><br>
    <img  src="./assets/imgs/fire.gif"> 
    <span style="font-size: 18px;">1. การลักลอบตัดไม้ทำลายป่า</span><br>
    <span style="font-size: 18px;">นายทุนพ่อค้าไม้  เจ้าของโรงเลื่อย  เจ้าของโรงงานแปรรูปไม้  ปริมาณป่าไม้ที่ถูกทำลายนี้นับวันจะเพิ่มขึ้นเรื่อย ๆ  ตามอัตราเพิ่มของจำนวนประชากร  ยิ่งมีประชากรเพิ่มขึ้นเท่าใด  ความต้องการในการใช้ไม้ก็เพิ่มมากขึ้น</span><br>
    <span style="font-size: 18px;">2. การบุกรุกพื้นที่ป่าไม้เพื่อเข้าครอบครองที่ดิน </span><br>
    <span style="font-size: 18px;">เมื่อประชากรเพิ่มสูงขึ้น  ความต้องการใช้ที่ดินเพื่อปลูกสร้างที่อยู่อาศัยและที่ดินทำกินก็อยู่สูงขึ้น เป็นผลผลักดันให้ราษฎรเข้าไปบุกรุกพื้นที่ป่าไม้  แผ้วถางป่า หรือเผาป่าทำไร่เลื่อนลอย  นอกจากนี้ยังมีนายทุนที่ดินที่จ้างวานให้ราษฎรเข้าไปทำลายป่าเพื่อจับจองที่ดินไว้ขายต่อไป </span><br>
    <span style="font-size: 18px;">3. การจัดสร้างสาธารณูปโภคของรัฐ </span><br>
    <span style="font-size: 18px;">เช่น  เขื่อน  อ่างเก็บน้ำ  เส้นทางคมนาคม  การสร้างเขื่อนขวางลำน้ำจะทำให้พื้นที่เก็บน้ำหน้าเขื่อนที่อุดมสมบูรณ์ถูกตัดโค่นมาใช้ประโยชน์  ส่วนต้นไม้ขนาดเล็กหรือที่ทำการย้ายออกมาไม่ทันจะถูกน้ำท่วมยืนต้นตาย </span><br>
    <span style="font-size: 18px;">4.  ไฟไหม้ป่า</span><br>
    <span style="font-size: 18px;">มักจะเกิดขึ้นในช่วงฤดูแล้ง  ซึ่งอากาศแห้งและร้อนจัด  ทั้งโดยธรรมชาติและจากการกระทำของมะม่วงที่อาจลักลอบเผาป่าหรือเผลอ  จุดไฟทิ้งไว้โดยเฉพาะในป่าไม้เป็นจำนวนมาก</span><br>
</ion-content>
