<ion-header>
  <ion-navbar>
    <ion-title>Deciduous</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="backgroud-deciduous">

  <ion-slides pager="true" effect="cube">
    <ion-slide *ngFor="let slide of slider">
      <img [src]="slide.image" width="900px" height="600px">
      <p style="font-size:22px; padding-top: 2px;" text-center [innerHTML]="slide.title"></p>
      <p style="font-size:20px; padding-top: 2px;" [innerHTML]="slide.description"></p>
    </ion-slide>
  </ion-slides>

</ion-content>