page-deciduous {
    .backgroud-deciduous{
        background: #e08c38;
        color : #ffffff;
        font-family: 'Kanit', sans-serif;
    }
    .toolbar-background {
        background-color:#e09d59;
    }   
}
